<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<p>
  Phone number: (720) 548-2764
</p>

<table class="table">
  <tr>
    <th>Phone Number</th>
    <th>Message</th>
  </tr>
  <% @messages.each do |message|%>
  <tr>
    <td><%=message.phone%></td>
    <td><%=message.message%></td>
  </tr>
  <%end%>
</table>